.fof-1 {
  fill: #f8f8f8;
}
.fof-2 {
  fill: #d3d3d3;
}
.fof-3 {
  fill: #de8e68;
}
.fof-4 {
  fill: #56cad8;
}
.fof-5 {
  fill: #74d5de;
}
.fof-6 {
  fill: #d37c59;
}
.fof-7 {
  fill: #fed385;
}
.fof-8 {
  fill: #fed892;
}
.fof-9 {
  fill: #dc8e6c;
}
