
.nf-1 {
  fill: #de8e68;
}
.nf-2 {
  fill: #fcc486;
}
.nf-3 {
  fill: #56cad8;
}
.nf-4 {
  fill: #fed385;
}
.nf-5 {
  fill: #d37c59;
}
.nf-6 {
  fill: #fd8369;
}
.nf-7 {
  fill: #74d5de;
}
.nf-8 {
  fill: #dfdfdf;
}
.nf-9 {
  fill: #f3f3f3;
}
.nf-10 {
  fill: #fff;
}
.nf-11 {
  fill: #fed892;
}
