body {
  margin: 0;
  padding: 40px;
  font-family: "Comfortaa", cursive;
}

.Header {
  background: hsl(194, 71%, 87%);
  padding: 40px;
  border-radius: 32px;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.small {
  height: 200px;
}

h2 {
  font-size: 40px;
  color: #ff582e;
}

h3 {
  text-align: center;
  color: #56cad8;
  font-weight: lighter;
}

.error {
  color: #ff582e;
}

@media (max-width: 1000px) {
  body {
    padding: 24px;
  }

  .Header {
    padding: 24px;
    height: auto;
    border-radius: 24px;
  }

  .headerWrapper {
    z-index: 10;
  }

  h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 16px;
  }

  .Header {
    padding: 24px;
    height: auto;
    border-radius: 16px;
  }

  .headerWrapper {
    z-index: 10;
  }

  h2 {
    font-size: 24px;
  }
}
