@keyframes imageLoad {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(0px);
  }
}

.card {
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out, box-shadow 0.25s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 2px 30px -16px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
  border-radius: 4px 4px 0 0;
  background: #fff center center no-repeat;
  transition: imageLoad 2s;
  filter: blur(0px);
}

.card-title {
  display: inline-block;
  margin: 16px;
  line-height: 24px;
  color: #173e49;
}
